.div2{
    width:100%;
    height:auto;
    position: relative;
}

#header2{
    background-color: rgb(27, 24, 185);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width:100%;
    height: 75px;
}
#header2>h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 75px;
    text-align: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .bitext1 {
    padding-top: 81px;
}

.biimg1{
    background-color: rgb(170, 170, 170);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width:100%;
    height: auto;
    position: relative;
}
.bitext1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top:6px;
    padding-left: 50px;
    padding-right: 50px;
}
.column {
    width: 33%;
}
.biimg2{
    display:flex;
    justify-content:space-between;
    margin-left: 1px;
    margin-right: 1px;
 }